<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>

<div class="container">
  <span class="text-danger"><small>*請填寫所有欄位</small></span>
  <form action="/restaurants" method="post">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">中文名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" id="name" placeholder="天天餐廳" required>
      </div>
    </div>
  
    <div class="form-group row">
      <label for="name_en" class="col-sm-2 col-form-label">英文名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name_en" id="name_en" placeholder="Ten Ten Restaurant" required>
      </div>
    </div>
  
    <div class="form-group row">
      <label for="category" class="col-sm-2 col-form-label">類別</label>
      <div class="col-sm-10">
        <input list="categories" class="form-control" name="category" id="category" placeholder="餐廳類別" required>
        <datalist id="categories">
          <option>中東料理</option>
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>美式</option>
          <option>酒吧</option>
          <option>咖啡</option>
        </datalist>
      </div>
    </div>

    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label">圖片連結</label>
      <div class="col-sm-10">
        <input type="url" class="form-control" name="image" id="image" value="http://" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="location" class="col-sm-2 col-form-label">地址</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="location" id="location" placeholder="台北市" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="phone" class="col-sm-2 col-form-label">電話</label>
      <div class="col-sm-10">
        <input type="tel" class="form-control" name="phone" id="phone" placeholder="0123456789" minlength="8"  maxlength="10" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="google_map" class="col-sm-2 col-form-label">Google Map 連結</label>
      <div class="col-sm-10">
        <input type="url" class="form-control" name="google_map" id="google_map" placeholder="餐廳 Google Map 連結" value="http://" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="rating" class="col-sm-2 col-form-label">評分</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="rating" id="rating" min="1" max="5" step="0.1" placeholder="1 ~ 5分" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">餐廳簡介</label>
      <div class="col-sm-10">
        <textarea id="description" name="description" class="form-control" rows="3" required></textarea>
      </div>
    </div>
  
    <div class="form-group row justify-content-center">
      <button type="submit" class="btn btn-primary">新增</button>
    </div>
    
  </form>
</div>
